.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.button___2XWo:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__gewwm {
  position: relative;
  height: 1em;
}
.svg__vyif8 {
  position: relative;
  height: 1em;
}
.ariaPopover:global(.__wab_instance) {
  font-family: var(--token-_x6mf1J-DDP5);
  font-size: var(--token-OiqiIv_iQTPv);
  color: var(--token-A03OI-tlMsdg);
  line-height: var(--token-L6hlV5z32RlH);
  box-shadow: 0px 0px 20px 0px #00000040;
  border-radius: var(--token-516McppZZqwi);
}
.ariaDialog:global(.__wab_instance) {
  object-fit: cover;
  outline-style: none;
}
.freeBox__oVwOb {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  background: var(--token-mqURCmGVeID9);
  align-items: flex-start;
  width: 320px;
  row-gap: var(--token-LkVdj0rGS91q);
  border-radius: var(--token-516McppZZqwi);
  padding: var(--token-PxpT5EqgvfGx);
}
.text__w600 {
  position: relative;
}
.text__oG7Qi {
  position: relative;
  font-weight: 500;
}
.text__hnCxz {
  position: relative;
}
