.root:global(.__wab_instance) {
  position: relative;
  cursor: pointer;
  color: var(--token-A03OI-tlMsdg);
  font-family: var(--token-_x6mf1J-DDP5);
  font-size: var(--token-OiqiIv_iQTPv);
  line-height: var(--token-L6hlV5z32RlH);
  outline-style: none;
  border-radius: var(--token-ovcPbabdsTuD);
}
.root[data-hovered]:global(.__wab_instance) {
  background: var(--token-xxGCiseb29RV);
}
.root[data-selected]:global(.__wab_instance) {
  background: var(--token-lN5U23R9u-n0);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-4UgLEAuy7Oyp);
  outline-color: var(--token-gjx4yFpj1JpL);
  outline-offset: 1px;
}
.freeBox__eh0O2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 2px;
  row-gap: var(--token-4UgLEAuy7Oyp);
  min-width: 0;
  padding: var(--token-LkVdj0rGS91q) var(--token-0Z5QDSwD9HEk);
}
.freeBox__wg8Vu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__pbJ9X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-wPOcpY9vew-R);
  min-width: 0;
}
