.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-gjx4yFpj1JpL);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-LkVdj0rGS91q);
  font-family: var(--token-_x6mf1J-DDP5);
  font-size: var(--token-OiqiIv_iQTPv);
  line-height: var(--token-L6hlV5z32RlH);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-ovcPbabdsTuD);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-4UgLEAuy7Oyp);
  outline-offset: 1px;
  outline-color: var(--token-gjx4yFpj1JpL);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-bLc7g3K9pMLP);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-hlNtOy95yIh3);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-TmP2AymUfX2h);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-skqHh1gozKGN);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token--fxrzaoOUd2W);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-eHWI1-FOGcuP);
  font-size: var(--token-TrTDsravgIzL);
  column-gap: var(--token-4UgLEAuy7Oyp);
  row-gap: 0px;
  border-radius: var(--token-P3dUXBLvlVVC);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-TrTDsravgIzL);
  line-height: var(--token-eHWI1-FOGcuP);
  column-gap: var(--token-P3dUXBLvlVVC);
  row-gap: 0px;
  border-radius: var(--token-P3dUXBLvlVVC);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-05Vx9Ek24Vfz);
  line-height: var(--token-gOQ8f9oeKsmq);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-05Vx9Ek24Vfz);
  line-height: var(--token-gOQ8f9oeKsmq);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-lN5U23R9u-n0);
  border-radius: var(--token-ovcPbabdsTuD);
}
.softBackgroundcolor_neutral {
  background: var(--token-TWQn5eKHvvNZ);
}
.softBackgroundcolor_muted {
  background: var(--token-xxGCiseb29RV);
}
.softBackgroundcolor_success {
  background: var(--token-465GPq5SnyuA);
}
.softBackgroundcolor_warning {
  background: var(--token-tcLOZucnXClM);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-alTYS2EJ1UJ2);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-ovcPbabdsTuD);
  border: 0px solid var(--token-bcfW8MaPO2qf);
}
.bordercolor_neutral {
  border-color: var(--token-aagrWp3Z-xmF);
}
.bordercolor_muted {
  border-color: var(--token-g09lIHt5u7Wd);
}
.bordercolor_success {
  border-color: var(--token-aiVXsZ8r5SVq);
}
.bordercolor_warning {
  border-color: var(--token-bspQ3UmRUxtb);
}
.bordercolor_errorDestructive {
  border-color: var(--token-1ftU0KxXAQrG);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-ovcPbabdsTuD);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-C7XI746OqpOu);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-zTEBZRa2ovDl);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-SlZ5F6zFbmK3);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__flRcn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-ovcPbabdsTuD);
  background: #1c1c1c;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 12px 24px;
}
.freeBoxsize_extraSmall__flRcngRcjR {
  padding: var(--token-P3dUXBLvlVVC) var(--token-ovcPbabdsTuD);
}
.freeBoxsize_small__flRcnWsRqc {
  padding: var(--token-ovcPbabdsTuD) var(--token-LkVdj0rGS91q);
}
.freeBoxsize_large__flRcnmVEh {
  padding-top: var(--token-P3dUXBLvlVVC);
  padding-bottom: var(--token-P3dUXBLvlVVC);
}
.freeBoxsize_extraLarge__flRcn77Nxy {
  padding-left: var(--token-516McppZZqwi);
  padding-right: var(--token-516McppZZqwi);
}
.freeBoxroundedFull__flRcnMtL {
  padding-right: var(--token-516McppZZqwi);
  padding-left: var(--token-516McppZZqwi);
}
.freeBox__oId3X {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__oId3Xd9Vaf {
  display: flex;
}
.slotTargetStart {
  color: var(--token-dgVP4ActU2uU);
}
.slotTargetStartcolor_neutral {
  color: var(--token-KlPirlRKGM-5);
}
.slotTargetStartcolor_muted {
  color: var(--token-2Il5cZezcqUJ);
}
.slotTargetStartcolor_success {
  color: var(--token-caHqoxoSZdod);
}
.slotTargetStartcolor_warning {
  color: var(--token-IkDW7Tkb11oD);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-qnVzI6PJdTwr);
}
.slotTargetStarttype_soft {
  color: var(--token-nLskqMbylF36);
}
.slotTargetStarttype_bordered {
  color: var(--token-nLskqMbylF36);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-TrTDsravgIzL);
}
.slotTargetStartsize_small {
  font-size: var(--token-TrTDsravgIzL);
}
.slotTargetStartsize_large {
  font-size: var(--token-05Vx9Ek24Vfz);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-05Vx9Ek24Vfz);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-0eywvIr_hKUx);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-0eywvIr_hKUx);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-tqLlII15rU0B);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-tqLlII15rU0B);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-7RatVbxQpjtL);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-7RatVbxQpjtL);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-aPvmtGT_LMUe);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-aPvmtGT_LMUe);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-VsUF8ii8yj0i);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-VsUF8ii8yj0i);
}
.svg__zqrRq {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-dgVP4ActU2uU);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-KlPirlRKGM-5);
}
.slotTargetLabelcolor_muted {
  color: var(--token-2Il5cZezcqUJ);
}
.slotTargetLabelcolor_success {
  color: var(--token-caHqoxoSZdod);
}
.slotTargetLabelcolor_warning {
  color: var(--token-IkDW7Tkb11oD);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-qnVzI6PJdTwr);
}
.slotTargetLabeltype_soft {
  color: var(--token-nLskqMbylF36);
}
.slotTargetLabeltype_bordered {
  color: var(--token-nLskqMbylF36);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-0eywvIr_hKUx);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-tqLlII15rU0B);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-0eywvIr_hKUx);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-7RatVbxQpjtL);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-tqLlII15rU0B);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-aPvmtGT_LMUe);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-7RatVbxQpjtL);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-VsUF8ii8yj0i);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-aPvmtGT_LMUe);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-VsUF8ii8yj0i);
}
.text__gBCoj {
  white-space: pre;
}
.freeBox__dDeMp {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__dDeMpsVOa {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-dgVP4ActU2uU);
}
.slotTargetEndcolor_neutral {
  color: var(--token-KlPirlRKGM-5);
}
.slotTargetEndcolor_muted {
  color: var(--token-2Il5cZezcqUJ);
}
.slotTargetEndcolor_success {
  color: var(--token-caHqoxoSZdod);
}
.slotTargetEndcolor_warning {
  color: var(--token-IkDW7Tkb11oD);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-qnVzI6PJdTwr);
}
.slotTargetEndtype_soft {
  color: var(--token-nLskqMbylF36);
}
.slotTargetEndtype_bordered {
  color: var(--token-nLskqMbylF36);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-TrTDsravgIzL);
}
.slotTargetEndsize_small {
  font-size: var(--token-TrTDsravgIzL);
}
.slotTargetEndsize_large {
  font-size: var(--token-05Vx9Ek24Vfz);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-05Vx9Ek24Vfz);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-0eywvIr_hKUx);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-0eywvIr_hKUx);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-tqLlII15rU0B);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-tqLlII15rU0B);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-7RatVbxQpjtL);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-7RatVbxQpjtL);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-aPvmtGT_LMUe);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-aPvmtGT_LMUe);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-VsUF8ii8yj0i);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-VsUF8ii8yj0i);
}
.svg___8AJd6 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
